td {
    color: white;
    font-family: 'Times New Roman', Times, serif;

}


#AnomalyList th {
    background-color: rgb(62, 63, 63);
    color: white;
}

#AnomalyList, th, td {
    border: 4px solid rgb(182, 178, 178)
}

h1 {
    font-size: 50px;
    color: white;
}

body {
    background-color: rgb(14, 14, 5);
}

p {
    font-size: 15px;
    color: white;
}