/* This file is used in: 
index.html,
contact.html
projects.html
scpmedia.html */


body {
    background-color: rgb(163, 173, 23);
}

p {
    font-size: 18px;
}

h1 {
    font-size: 50px;
}

@keyframes fade {
    75% {
        opacity: 1
    }
  }
  



.contacts {
    opacity:0;
    animation: fade 2s infinite;
    color:rgb(3, 65, 36);
  }

  #buttonTop {
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    background: rgb(12, 82, 92);
    cursor: pointer;
    position: fixed;
    border: none;
    color: #ffff
    
 }

 .flexing {
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: rgb(35, 194, 114);

 }

 .link  a:link {
    color:white;
 }

 .link  a:visited {
    color:rgb(23, 20, 214);
 }

 .link {
    font-size: 30px
 }

 /* Accordion */

 .accordion-button  {
    background-color: rgb(178, 189, 22);
    border-color: rgb(163, 173, 23)
 }

 .accordion-button:not(.collapsed) {
    background-color: rgb(111, 117, 17);
    color: black;
}

 .btn-primary {
    
    background-color: rgb(163, 173, 23);
    border-color: rgb(163, 173, 23)
 }

 .accordion-body {
    background-color: rgb(163, 173, 23);
 }


 /* navbar */

 





 