td {
    color: white;
    font-family: 'Times New Roman', Times, serif;

}


#AnomalyList th {
    background-color: rgb(62, 63, 63);
    color: white;
}

#AnomalyList, th, td {
    border: 4px solid rgb(182, 178, 178)
}

h1 {
    font-size: 50px;
    color: white;
}

body {
    background-color: rgb(14, 14, 5);
}

p {
    font-size: 15px;
    color: white;
}

#buttonTop {
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    background: rgb(12, 82, 92);
    cursor: pointer;
    position: fixed;
    border: none;
    color: #ffff
 }

 #randomness {
    color: white;
    
 }
 
 