body {
    background-color: rgb(163, 173, 23);
}

p {
    font-size: 18px;
}

h1 {
    font-size: 50px;
}

@keyframes fade {
    75% {
        opacity: 1
    }
  }
  



.contacts {
    opacity:0;
    animation: fade 2s infinite;
    color:rgb(3, 65, 36);
  }

 